<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NSObjectRefCount.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E78CE1A31BEAEEF200B3CC90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E78CE1BC1BEAEEF200B3CC90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E78CE1C71BEAEEF200B3CC90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
